@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,700;1,400&display=swap');

.container{
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row-justify-between{
    justify-content: space-between;
}
.row-justify-around{
    justify-content: space-around;
}
.row-justify-evenly{
    justify-content: space-evenly;
}
.row-justify-center{
    justify-content: center;
}
.navbar-top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f9c679;

}
.brand{
    width: 60px;
    
}

.right-navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user-navbar{
    font-size: 19px;
    padding:  0 10px 0;

}
.user-navbar a{
    color: black;
}
.avartar-user{
    width: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.wrapper-avt{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    
}
.avartar-user i{
    padding: 5px;
}
.avartar-user i:hover{
    color: rgb(255, 255, 255);
}
.list-option-user{
    list-style-type: none;
    position: absolute;
    top: 100%;
    left: -150px;
    width: 200px;
    transform: translateY(-25%);
    display: none;
    align-items: center;

}
.list-option-user li{
    padding: 10px 10px;
    width: 100%;
    background-color: white;
    text-align: center;
}
.list-option-user li a{
    padding: 10px 50px;
    width: 160px;
    align-items: center;
}
.list-option-user li:hover{
    background-color: rgb(250, 156, 156);
}
.list-option-user li:hover a{
    color: white;

}
.avartar-user:hover .list-option-user{
    display: block;
}



.scroll-up{  
    filter: drop-shadow(0 -10px 20px rgb(121, 120, 120));
}
.scroll-down{
    transform: translate3d(0, -100%, 0);
    transition: ease-in-out 0.1s;
}
.navbar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:flex;
}
.heroimage{
    position: relative;
   
}
.text-in-heroimg{
    position: absolute;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-size: 40px;
    line-height: 40px;
    left: 60%;
    top: 30%;
    animation: appearQuote ease-in-out 1.2s;
}

@keyframes appearQuote {
    from{
        opacity: 0;
        top: 35%;
    }
    to{
        opacity: 1;
        top: 30%;
    }
    
}
.author-quote{
    font-size: 30px;
}
#brand-shop{
    color: rgb(37, 37, 37);
    margin: 0;
    justify-self: center;
    padding: 10px;
}
.navbar-list-item{
    padding: 10px;
}
.navbar-list-item a{
    padding: 10px;
    color: rgb(37, 37, 37);
    font-size: 18px;
    text-decoration: none;

    
}
.navbar-list-item a:hover{
    background-color: rgb(255, 255, 255);
}
.icon-bag{
    font-size: 20px;
    margin: 0 5px 0;
}
#addcart-nav{
    padding: 0 10px 0;
    cursor: pointer;
    position: relative;
}
#notification-add-cart{
    width: 20px;
    height: 20px;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(252, 78, 78,1);
    position: absolute;
    top: 60%;
    
}
#notification-add-cart p{
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 2px;
}
#addcart-nav{
    font-weight: 600;
}
/* main homepage */

.body-main-padding{
    
    min-height: 1000px;
}
.womens-fashion{
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 30px 20px 30px;
    
}
.womens-fashion, .men-fashion{
    max-width: 100%; 
    justify-content: center;
}
.men-fashion{
   position: relative;
   padding: 30px 20px 30px;
   background-color: rgb(241, 241, 241);
   
}

.image-wrapper{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    
}
.blog-wrapper{
    width: 700px;
    padding: 0 20px 0;

}   
.title-blog-women{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Lobster Two', cursive;
    text-align: center;
}   
.quote-women-fashion{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}    

.image-wrapper img{
    width: 100%;
}

.appear-scroll{
    animation: appear-scroll ease-in-out 1.5s;
}
.hide{
    visibility: hidden;
}
@keyframes appear-scroll {
    from{
        opacity: 0;
        top: 80px;
        

    }
    to{
        opacity: 1;
        top: 0;
        
    }
}
.btn-shop-now{
    
    margin: 0 auto;
    display: block;
    height: 60px;
    width: 60px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transition: all 0.5s ease-out;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0 ,0.2);
    position: relative;
}
.btn-shop-now:hover{
    width: 250px;
    transition: all 0.3s ease-out;
}
.btn-shop-now:hover span{
    left: 30%;
    visibility: visible;
    transition: all 0.2s ease-out;
}
.btn-shop-now:hover .icon-btn-shopnow{
    background-color: rgb(253, 151, 125);
    transition: all 0.2s ease-out;
}
.btn-shop-now .icon-btn-shopnow{
    
    height: 60px;
    width: 60px;
    position: relative;
    right: 5px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    margin-right: 20px;
    transition: all 0.3s ease-out;
} 

.btn-shop-now .icon-btn-shopnow i{
    font-size: 25px;
    line-height: 60px;
    
}
.btn-shop-now span{
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 10;
    padding: 0 30px 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
}

.sale-products{
    width: 100%;
}


/* product */
#heading-nav{
    position: relative;
    
}
.new-arrival{
    width: 100%;
}
.new-arrival-wrapper{
    width: 100%;
    position: relative;
    background-color: rgb(87, 87, 87);
    padding: 40px 0 40px;
    color: white;
}
.arrival-title{
    width: 200px;
    margin: 0 auto;
}
.new-arrival-wrapper h2, .new-arrival-wrapper p{
    margin: 0;
    padding: 5px;
    text-align: center;
    line-height: 30px;
    
}
.new-arrival-wrapper h2{
    font-size: 35px;
    position: relative;
}
.new-arrival-wrapper h2::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0%;
    left: 5%;
    border-radius: 10px;
    transition: all 1s ease-in-out;
    background: #ADA996;  /* fallback for old browsers */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.new-arrival-wrapper h2:hover::after{
    width: 175px;
    transition: all 1s ease-in-out;
}
.new-arrival-wrapper p{
    font-size: 25px;
}
.slider-arrival{
    width: 100%;
}
.slicker-item-arrival{
    padding: 10px;
    
}
.slicker-item-arrival img{
    border-radius: 10px;
}
.prev-item-arrival,.next-item-arrival{
    position: relative;
    top: 35%;
    font-size: 25px;
    background-color: initial;
    margin: 0;
    cursor: pointer;
    color: white;
}
.prev-item-arrival{
    left: 15px;
}
.next-item-arrival{
    left: 99%;
    transform: translateX(-100%);
}


/* MODAL LOGIN HOMEPGAE */
.wrapper-modal{
    position: absolute;
}
.modal-popup-login{
    width: 900px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 0 auto; */
    background-color: #d37089;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0 ,0.2);
    margin: 10px auto 10px;
    position: fixed;
    top: 15%;
    
    left: 20%;
    border: 2px solid black;
    z-index: 10;
}
.info-modal{
    text-align: center;
    background-color: white;
    padding: 30px 0 30px;
    
}
.heroimg-modal{
    width: 100%;
    height: 500px;
}
.heroimg-modal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title-info-modal{
    font-size: 30px;
}
.des-info-modal{
    font-size: 19px;
    line-height: 25px;
}
.cirle-sale{
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(204, 126, 54);
    text-align: center;
    color: white;
    line-height: 25px;
    justify-content: center;
    margin: 20px auto 20px;
    box-sizing: border-box;
    
}
.cirle-sale p{
    font-size: 30px;
    padding: 15px 0 0;
    margin: 0;
}
.cirle-sale span{
    font-size: 18px;
}
.btn-redirect-signup{
    padding: 8px 15px 8px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 2px 3px 2px rgba(0, 0, 0 ,0.2);
    cursor: pointer;
}
.btn-redirect-signup a{
    color: black;
}
.btn-redirect-login a{
    color: black;
}
.btn-redirect-login{
    padding: 8px 15px 8px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 5px 8px 5px rgba(0, 0, 0 ,0.3);
    cursor: pointer;
    position: relative;
    font-weight: 600;
}
.close-modal{
    position: absolute;
    left: 100%;
    top: 5%;
    transform: translate(-150%,-50%);
    cursor: pointer;
    font-size: 22px;
   
}
.close-modal:hover{
    opacity: 0.8;
    color: coral;
}
.hidden-modal{
    display: none;
}
.show-modal {
    animation: fadeIn 0.3s ease-in-out forwards;
}
.hidden-modal{
    animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateY(4px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    0%{
        opacity: 1;
        transform: translateY(4px);
    }
    100%{
        opacity: 0;
        transform: translateY(3px);
    }
}
.popup-blur{
    background-color: rgba(0, 0, 0 ,0.3);
}


/* Footer */
.footer{
    background-color: rgb(41, 41, 41);
    color: var(--footer-fontcolor);
    
    min-height: 200px;
    padding: 20px;
    width: 100%;
}
.brand-footer{
    width: 100%;
    
}
.wrapper-brand-footer{
    width: 120px;
    margin: 0 auto;
    text-align: center;
}

/* SHOPPING CART */
.active-cart{
    color: rgb(71, 71, 71);
}
.shopping-cart-title{
    text-align: center;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 42, 42);
}
.table-data-cart{
    text-align: center;
}
.table-data-cart p{
    font-size: 18px;
}
.container--cart{
    width: 100%;
    position: relative;
    align-items: flex-start;
    padding-left: 30px;
}
.table--cart{
    width: 800px;
    border-collapse: collapse;
}

.table--cart th:not(:last-child){
    min-width: 80px;
}
.table--cart th{
    width: 80px;
}
.table--cart th:first-child{
    padding: 10px;
    text-align: left;
}
.cart-product-w-quantity{
    width: 80px;
}
td:first-child{
    padding: 10px;
}
td{
    background-color: rgba(238, 238, 238,0.7);
    align-items: center;
}
.cart--quantity input{
    width: 50px;
    font-size: 14px;
    
}

.btn-checkout-cart{
    font-size: 17px;
    padding: 5px;
    color: white;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
}
.btn-checkout-cart:hover{
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}
.btn-checkout-cart.color-9 {
    background-image: linear-gradient(to right, #2aa7a7, #1bb6b6, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.header--table{
    background-color: rgb(42, 167, 167);
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
}


.cart--product__img{
    width: 100px;
    margin-right: 10px;
}
.cart--product__desc{
    line-height: 20px;
    font-size: 20px;  
    
}
.cart--product__desc p{
    margin: 5px 0 10px 0;
}

.cart--product__desc button{
    background-color: rgb(255, 131, 82);
    padding: 4px;
    color: white;
    font-size: 14px;
    margin: 0 auto;;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}
.cart--product__desc button:hover{
    background-color: rgb(255, 90, 24);
    
    
}

.checkout{
    width: 450px;
}
#checkout{
    width: 100%;
    background-color: #ffad8a;
    padding: 10px;
    border: 1px solid rgb(119, 119, 119);
    
    

}
.title-checkout{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.form-row-checkout{
    display: flex;
    flex-direction: column;
}
.form-row-checkout > label{
    font-size: 17px;
    padding-bottom: 10px;
}
.form-info-input{
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 15px;
    transition: 0.3s;
    z-index: 1;
}
.form-row-checkout > select{
    padding: 5px;
    font-size: 17px;
}
.option-address{
    padding: 8px;
    
}
.select-address{
    
    font-size: 15px;
    background-color: rgb(78, 78, 78);
    border: 1px solid white;
    color: white;
}
.form-info-input-cart{
    padding: 5px;
    font-size: 15px;
    background-color: rgb(78, 78, 78);
    border: 1px solid white;
    color: white;
}



.list-checkout{
    color: rgb(51, 51, 51);
    font-size: 17px;
}
#code-discount{
    padding: 5px;
    width: 70%;
    border: none;
}
#apply-discount{
    max-width: 30%;
    min-width: 25%;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(45, 126, 158);
    border: none;
    color: white;
    cursor: pointer;
}
.total-sum{
    align-items: flex-start;
    font-size: 17px;
}
.price-total-checkout{
    text-align: right;
}
.checkout-btn{
    width: 100%;
    background-color:rgb(73, 173, 168);
    border: none;
    padding: 8px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.checkout-btn:hover{
    background-color:rgb(36, 151, 145)
}
.emptycart-option{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    z-index: 10;
    padding: 10px;
    align-items: center;
    text-align: center;
}
.emptycart-option button{
    padding: 10px 5px 10px;
    border: 5px;
    background-color: coral;
}
.emptycart-option button a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: 700;
}

/*PRODUCT SITE*/
#product-list{
   
    background-color: rgba(255, 255, 255, 0.144);
    margin: 0 auto;
    height: 300px;
    position: relative;
    
}
.title-product-list{
    font-family: "Hint", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 600;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-product-site{
    background-color: #ffdfdf5c;
    padding: 10px 0;
}
.container--listproduct{

    width: 1100px;
    margin: 0 auto;
    background-color: white;
    padding: 30px 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0 ,0.2);
  
}
.container--product{
    width: 1300px;
    display: flex;
    margin: 0 auto;
    
}
.sidebar--product{
    max-width: 300px;
    margin-right: 30px;
}
.filter--title{
    margin: 0 auto;
}
.filter-by-price{
    font-family: Arial, Helvetica, sans-serif;
    
}

.filter-radio:not(:last-child){
    margin-bottom: 10px;
}
.top--listproduct{
    margin: 0 auto;
    width: 100%;
    padding: 0 10px 20px;

}
.sort-product{
    display: flex;
    
    
}
.serch-product{
    display: flex;
}
.serch-product input{
    padding: 8px;
    font-size: 16px;
    border-radius: 3px;
    border: none;
    margin-right: 5px;
    width: 260px;
}
.serch-product button{
    width: 80px;
    font-size: 17px;
}
.sort-product p{
    margin: 5px;
    
}
.select-sort-product{
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0 ,0.1);
    
}
.select-sort-product option{
    font-size: 17px;
    padding: 3px;
}
.select-sort-product:focus{
    outline: none;
    
}
.dropdown {
    width: 200px;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    font-family: sans-serif;
    border: 1px solid rgb(190, 190, 190);
    
  }
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
.btn-sort-by{
    border: none;
    background-color: initial;
    font-size: 18px;
    margin: 0 auto;
}
#sort{
    width: 200px;

}
.nextpage-product{
    margin: 20px auto 20px;
    justify-self: right;
}
.btn-nextpage{
    color: rgb(65, 62, 61);
    background-color: white;
    outline: none;
    border: 1px solid black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.btn-nextpage:active{
    background-color: teal;
}
.btn-nextpage:hover{
    background-color: rgb(238, 148, 148);
}
.grid-product{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-column-gap: 20px;
    justify-content: center;
    
}
.product--info{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(177, 177, 177);
}
.img-avt-product{
    cursor: pointer;
}
.name-product{
    min-height: 60px;
    margin: 5px 0 0;
    font-size: 16px;
    font-family:'Nunito+Sans', sans-serif;
    font-weight: 500;
    
}
.img-product-review{
    position: relative;
}
.option-buy{
    width: 100%;
    height: 50px;
}
.btn_buy-product{
    background-color: rgb(74, 121, 190);
    font-size: 17px;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%,-80%);
    width: fit-content;
    cursor: pointer;
    z-index: 10;
    display: none;
}
.btn_add-to-cart{
    background-color: rgb(238, 102, 61);
    font-size: 18px;
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    border: none;
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%,-80%);
    display: none;;
    cursor: pointer;
    z-index: 10;

}
.btn_add-to-cart:hover{
    background-color: rgb(240, 79, 29)
}
.btn_buy-product:hover{
    background-color: rgb(37, 100, 194);
}

.img-product-review:hover > .btn_add-to-cart{
    display: block;  
    animation: appear  ease-in-out 0.4s;
}
.img-product-review:hover > .btn_buy-product{
    display: block; 
    animation: appear  ease-in-out 0.4s;
}
@keyframes appear {
        from{
            opacity: 0;
            top: 95%;
        }
        to{
            opacity: 1;
            top: 90%;
        }
}
.price-product-review{
    font-weight: 600;
}



/* ---------------------------- PRODUCT DETAIL ---------------------------- */
.main{
    padding: 20px 0 20px;
}
.container-product-detail{
    width: 90%;
    margin: 0 auto;
}
.product-detail{
    min-height: 560px;
    display: flex;
    align-items: flex-start;
}
.name-product-detail{
    font-size: 25px;
    margin: 8px 0 15px;
}
.image-product_review{
    width: 450px;
}
.slides{
    width: 450px;
}
.option-product_buy{
    width: 66%;
    justify-self: flex-start;
    padding-left: 10px;
}

.price-product{
    font-weight: 600;
    font-size: 21px;
}
.price-span{
    font-weight: 500;
    font-size: 20px;
}
.description-detail{
    font-size: 18px;

}
.description-detail p{
    margin: 0;
    line-height: 30px;

} 
.description-detail li{
    padding: 5px;
    line-height: 20px;

} 
.desciption-detail-title{
    font-weight: 600;   
}
.desciption-detail-text >p{
    font-size: 21px;
   
}

.button-option{
    width: 280px;
}
.button-buy{
    border: none;
    padding: 8px;
    color: white;
    background-color: black;
    font-size: 17px;
    cursor: pointer;
}
.button-add-cart{
    border: none;
    padding: 8px;
    color: white;
    background-color: black;
    font-size: 17px;
    cursor: pointer;
}
.quantity-option-buy{
    padding: 10px 0 10px;
}

.input-quantity{
    width: 40px;
    font-size: 17px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    margin: 0 5px 0;
}
.minus-quantity, .plus-quantity{
    cursor: pointer;
    padding: 5px;
    border: 1px solid;
    background-color: #303030;
    color: white;
}
.minus-quantity:hover, .plus-quantity:hover{
    opacity: 0.8;
    color: red;
}
.subtotal-option-buy{
    width: 180px;
    font-size: 18px;
    padding: 8px 0 8px;
}
.subtotal-option-buy p{
    margin: 0;
}
#subtotal-detail-buy{
    font-weight: 600;
}
.link_to_checkout{
    color: white;
}





.feedback-container{
    width: 100%;
    padding: 5px;
}
.feedback-title{
    font-size: 22px;
    color: rgb(236, 161, 47);
    font-weight: 600;
}
.feedback-wrapper{
    display: flex;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
    background-color: #ff7f50b8;
    min-height: 200px;
    padding: 10px 30px 10px;
    align-items: center;
}
.feedback-wrapper + .feedback-wrapper{
    margin-top: 15px;
}
.avt-user-feedback{
    width: 150px;
}
.border-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.feedback-detail{
    padding: 0 20px 0;
}
.name-user p{
    font-size: 20px;
    font-weight: 600;
}
.feedback-content{
    font-size: 18px;
    color: rgb(54, 54, 54);
    line-height: 25px;
}


.follow-with-sliderImage{
    margin-top: 20px;
    width: 100%;
    position: relative;
    padding: 20px 0 20px;
    background-color: rgb(90, 90, 90);
}

.slider-slicker{
    align-items: center;
    
}

.slicker-item{
    padding: 5px;
    width: 20px;
}
.slicker-item img{
    border-radius: 20px;
}
.slick-arrow{
    position: absolute;
    border: none;
    display: none;
}

.prev-arrow{
    top: 60%;
    z-index: 10;
    left: 20px;
    transform: translate(-20%,0);
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.next-arrow{
    top: 60%;
    left: 99%;
    z-index: 10;
    transform: translate(-100%,0);
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.next-arrow i, .prev-arrow i{
    font-size: 25px;
}
.ig-follow{
    text-align: center;
}
.ig-follow p{
    font-size: 30px;
    margin: 20px 0 10px;
}

.title-ig-follow{
    display: inline;
    line-height: 30px;
    border-bottom: 3px solid rgb(207, 207, 207);
    color: white;
}
.icon-ig a{
    color: white;
}

.enter-feedback{
    position: relative;
    background-color: #ff7f50b8;
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 10px;
}
.feedback-btn{
    position: absolute;
    top: 90%;
    right: 13px;
    transform: translateY(-100%);
    padding: 5px 8px;
    font-size: 16px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.feedback-btn:hover{
    background-color: #555555;
    color: white;
    
}
.enter-feedback textarea{
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
}
.image-user-sendfb{
    width: 50px;
    top: 10px;
    left: 10px;

    
}



.toast{
    display: flex;
    align-items: center;
    min-width: 400px;
    max-width: 450px;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0 ,0.2);    
  
}
@keyframes slideInLeft{
    from{
        opacity: 0.02;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;
    }
}
.toast--success{
    border-color: #47d864;
}
.toast--success .toast__icon{
    color: #47d864;
}
.toast--warning{
    border-color: rgb(235, 136, 49);
}
.toast--warning .toast__icon{
    color: rgb(235, 136, 49);
}
.toast__icon,
.toast_exit{
    padding: 0 20px;
    font-size: 20px;
}
.toast__body{
    padding: 10px 0 10px 0;
    flex-grow: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}
.toast__title{
    font-size:  16px;
    font-weight: 600;
    color: #333;
}
.toast__messg{
    font-size:  16px;
    font-weight: 600;
    color: #888;
    margin-top: 5px;
}
.toast_exit{
    font-size: 24px;
    color: rgba(0, 0, 0 ,0.3);
    cursor: pointer;
}
.toast_exit :hover{
    opacity: 0.6;
}

#toast{
    position:fixed;
    top: 200px;
    right: 32px;
    z-index: 100;
}
.toast--info{
    border-color: #4e82cf;
}
.toast--info .toast__icon{
    color: #4e82cf;
}

.btn__toast--info{
    background-color:  #4e82cf;
}

/* ------------------------Checkout------------------------- */
.background-container_checkout{
    background-color: #f2f7fa;
    padding: 30px 0 30px;
}
.body-checkout{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 4px 3px rgba(0, 0, 0 ,0.2);
}
.grid-checkout-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-info-checkout{
    padding: 30px;
    position: relative;
}
.container-info-customer{
    padding: 20px;
    background-color: #1abc9c;
    position: relative;
}
.checkout-product{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
}
.img-review_checkout{
    width: 120px;
    margin-right: 15px;
}
.name-product_checkout{
    width: calc(100%-120px);
    line-height: 25px;
    word-wrap: break-word;
}
.name-product_checkout{
    font-size: 22px;
    margin: 0;
    word-wrap:normal;
}
.slider{
    width: 500px;
    align-items: center;
}
.slider-item{
    width: 70px;
}
.sumtotal-checkout{
    margin-top: 20px;
    font-size: 20px;
    background-color: rgb(228, 228, 228);
}


.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #149279);
    position: absolute;
    
  }
  
.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: 10px;
}
  
.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 90px;
}
.container-info-customer:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #1abc9c;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
.w-input-9{
      width: 100%;
}
.w-input-5{
    width: 50%;
}
.w-input-6{
    width: 60%;
}
.w-input-8{
    width: 80%;
}
.row-input{
    display: flex;
    flex-direction: column;
}
.label-checkout{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-weight: 600;
    padding: 5px 0 5px;
}
.buy-submit{
    cursor: pointer;
    font-size: 19px;
    padding: 6px 8px 6px;
    margin: 10px 0 10px;
    border: none;
    background-color: #badfd3;
    transition: 0.2s;
    position: relative;
    left: 80%;
}
.buy-submit:hover{
    color: white;
    background-color: rgb(48, 48, 48);
}
#checkout-result{
    position: relative;
}
.result-checkout-title{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
}
.continue-shopping{
    border: none;
    outline: none;
    padding: 8px;
    background-color: rgb(255, 112, 102);
    color: white;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 18px;

}
.continue-shopping a{
    color: white;
}

/* Login page */
.login-container{
    max-height: 100vh;
    overflow: hidden;
}
.login-form-wrapper , .signup-form-wrapper{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(26, 127, 158);  
    width: 400px;
    border-radius: 10px;  
    height: fit-content;
    display: flex;
    animation: appear-login ease-in-out 1.3s;
    animation: appear-signup ease-in-out 1.3s;
}
@keyframes appear-login {
    from{
        top: 55%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
@keyframes appear-signup {
    from{
        top: 55%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}
#form-login, #form-signup{
    background-color: rgb(255, 255, 255);
    padding: 40px 20px 20px;
    z-index: 200;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.row-form-login, .row-form-signup{
    font-size: 17px;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.row-form-login label, .row-form-signup label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.row-form-login input, .row-form-signup input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.row-form-login span::before, .row-form-signup span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.row-form-login input:valid ~ label, .row-form-signup input:valid ~ label
{
    top: -5px;
    color: #2691d9;
}
.row-form-login input:focus ~ span::before,.row-form-signup input:focus ~ span::before,
.txt_field input:valid ~ span::before
{
    width: 100%;
}
.forgot-password{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.forgot-password:hover{
    text-decoration: underline;
}
#submitlogin, #submitsignup{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
#submitlogin:hover , #submitsignup:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}



#form-login h1, #form-signup h1{
    text-align: center;
}
.submit-login{
    padding: 20px;
}
.login-guest{
    width: 80%;
    margin: 0 auto;
}
.login-guest button{
    padding: 10px;
    font-size: 18px;
    background-color: rgb(230, 168, 76);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    width: 270px;
    transition: .5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.login-guest button:hover{
    left: 49.9%;
    width: 300px;
    transition: .5s;
}
.login-guest button a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.error-login{
    color: red;
    text-align: center;
}


/* -----------------------PROFILE PAGE--------------------------- */

.hero-avatar{
    width: 100%;
    height: 400px;
    background: #ff9663; 
    background: linear-gradient(to right, #ff9663, #367c61,#fac1a2); 
    position: relative;
}

.user-introduce{
    width: 500px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 200px 300px;
    align-items: center;
}
.avatar-introduce{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    
}


.avatar-introduce img{
    width: 250px;
    position: relative;
    bottom: 10px;
    right: 25px;
    
}

#avatar-file{
    display: none;
}
#uploadbtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
   
}

.user-info{
    padding: 0 30px 0;
}
.user-fullname{
    font-size: 35px;
    color: white;
    font-weight: 600;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.user-phonenumber , .user-company{
    color: white;
    font-size: 18px;
}


.user-dateofbirth{
    font-size: 20px;
}
.main-content-user{
    width: 1100px;
    height: 100%;
    background-color: rgb(90, 90, 90);
    border-radius: 20px;
    margin: 10px auto 10px;
    padding: 20px 0 20px;
    position: relative;
    box-shadow: 2px 3px 4px 2px rgba(0, 0, 0 ,0.2);
}
.option-profile{
    padding: 0 10px 0;
}
.option-profile h2{
    text-align: center;
    color: white;
}
.form-user-info{
    margin: 0 auto;
    width: 700px;
    padding: 20px 10px;
    background-color: inherit;
    
}
.row-form-user{
    padding: 8px 0;
    display: flex;
    align-items: flex-start;
}
.row-form-user label{
    padding-top: 5px;
    width: 180px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 17px;
}
.row-form-user input{
    padding: 5px 3px;
    width: 350px;
    font-size: 17px;
    border-radius: 4px;
    border:none;
    color: rgb(31, 31, 31);
}
.dropdown{
    width: 350px;
    position: relative;
}
.dropdown-address{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(214, 214, 214);
}

.dropdown-list-address{
    width: 100%;
    
    background-color: rgb(83, 83, 83);
    max-height: 110px;
    overflow: scroll;
    /* position: absolute;
    top: 110%; */
}
.dropdown-item-address{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.dropdown-item-address p{
    margin: 0;
    color: white;
}
.dropdown-item-address:hover{
    background-color: white;
    
    cursor: pointer;
}
.dropdown-item-address:hover p{
    color: rgb(29, 29, 29);
}
.dropdown-address:hover .dropdown-list-address{
    display: block;
}
.update-user{
    padding: 5px 10px;
    font-size: 17px;
    border:1px solid black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0 ,0.2);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    left: 70%;
    transition: all 0.3s ease-in-out;
}
.update-user:hover{
    background-color: rgb(87, 87, 87);
    color: white;
    transition: all 0.3s ease-in-out;
}
.next-slider ,.prev-slider{
    border: none;
    background-color: coral;
}
.next-slider i,.prev-slider i{
    font-size: 20px;
   
    align-items: center;
    
}
.next-slider{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%,-50%);
    padding: 5px;
    text-align: center;
    
}
.prev-slider{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: 5px;
    left: -20px;
}
.list-order-wrapper{
    position: relative;
}
.empty-order-wrapper{
    position: relative;
}
.emptyorder-option{
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);

}
.emptyorder-option button{
    padding: 8px;
    background-color: orange;
    border: none;
}
.emptyorder-option button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#empty-order{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.list-order{
    list-style-type: none;
}
.list-order-item{
    padding: 10px 0 10px;
}
.order-item-content{
    display: grid;
    grid-template-columns: 150px 450px 250px 150px;
    grid-column-gap: 10px;
    margin: 0 auto;
}
.order-item-content p{
    margin: 0;
    line-height: 20px;
}
.image-order-item{
    width: 150px;
    
}
.order-item-col-2 p{
    line-height: 25px;
    font-size: 17px;
    color: white;
}
.name-order{
    font-size: 18px;
    color: white;
    font-weight: 600;
}
.status-order p{
    font-size: 19px;
    color: white;
    line-height: 30px;
}
.order-item-col-4, .order-item-col-3{
    text-align: center;
}
.feedback-redirect button{
    padding: 10px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.feedback-redirect button:hover{
    
    background-color: rgb(255, 131, 109);
}
.feedback-redirect button a{
    padding: 10px;
    color: white;
    font-weight: 600;
}